<div class="alert alert-danger alert-dismissible field-error" role="alert">
	<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
	@@errorText
</div>
