<div class="form-group field field-file @@class">
	@@if (label) {
		<label for="@@fieldID" class="flex-center-start">
			@@label
			@@if (help) {
				<i class='icon bx bx-info-circle bx-md text-blue m-l-5' data-toggle="popover" data-placement="right" data-content="@@helpText" data-trigger="hover"></i>
			}
		</label>
	}
	<input type="file" class="fileinput form-control" name="@@fieldID" id="@@fieldID" multiple data-browse-label="Seleccionar archivo..." data-button-label-class="" data-remove-label="Quitar" data-remove-title="Eliminar todos los archivos" data-msg-placeholder="@@placeholder" data-msg-selected="{n} archivos seleccionados" data-msg-folders-not-allowed="No se permite la subida de carpetas" data-drop-zone-enabled="false" data-show-caption="false" data-theme="explorer" data-show-upload="false" data-zoom-indicator="false" data-hide-thumbnail-content="true">
</div>