<div class="form-group field field-info @@class">
	<div class="info-content col-xs-12">
		<div class="row">
			<div class="info-header col-xs-12 flex-center-start">
				<i class="icon bx bx-info-circle bx-md text-blue m-r-10"></i>
				<h4>@@label</h4>
			</div>
			<div class="info-body col-xs-12">
				@@text
			</div>
		</div>
	</div>
</div>