<div class="form-group @@class field field-input-text">
	<label for="@@fieldID" class="flex-center-start">
		@@label
		@@if (help) {
			<i class='icon bx bx-info-circle bx-md text-blue m-l-5' data-toggle="popover" data-placement="right" data-content="@@helpText" data-trigger="hover"></i>
		}
	</label>
	<input type="text" id="@@fieldID" name="@@fieldID" class="form-control">

	@@if (error) {
		@@include('field-error.html', {
			"errorText": "@@errorText"
		})
	}
</div>