<div class="form-group @@class field field-input-phone">
	<label for="@@fieldID" class="flex-center-start">
		@@label
		@@if (help) {
			<i class='icon bx bx-info-circle bx-md text-blue m-l-5' data-toggle="popover" data-placement="right" data-content="@@helpText" data-trigger="hover"></i>
		}
	</label>
	<div class="field-group">
		<div class="field-addon">
			<select class="selectpicker" id="@@fieldID-code" name="@@fieldID-code" data-live-search="true" title="Seleccione una opción...">
				@@loop('./select-country-code-option.html', './../data/countries.json')
			</select>
		</div>
		<input type="text" id="@@fieldID" name="@@fieldID" class="form-control">
	</div>

	@@if (error) {
		@@include('field-error.html', {
			"errorText": "@@errorText"
		})
	}
</div>