<div class="form-group field field-schedule @@class">
	<label for="@@fieldID" class="flex-center-start">
		@@label
		@@if (help) {
			<i class='icon bx bx-info-circle bx-md text-blue m-l-5' data-toggle="popover" data-placement="right" data-content="@@helpText" data-trigger="hover"></i>
		}
	</label>
	<div class="schedule-days row">
		<div class="schedule-day week-days col-xs-12 form-group flex-center-start">
			<div class="row">
				<label class="col-xs-12 col-md-4">Lunes a viernes</label>
				<div class="col-xs-6 col-md-4 sub-field">
					<small>Desde</small>
					<input type="text" class="timepicker form-control" id="@@fieldID-week-start" name="@@fieldID-week-start">
				</div>
				<div class="col-xs-6 col-md-4 sub-field">
					<small>Hasta</small>
					<input type="text" class="timepicker form-control" id="@@fieldID-week-end" name="@@fieldID-week-end">
				</div>
			</div>
		</div>
		<div class="schedule-day extra-day col-xs-12 form-group flex-center-start">
			<div class="row">
				<label class="col-xs-12 col-md-4">
					<input type="checkbox" class="enable-schedule-day" name="@@fieldID-enable-saturday">
					Sábado
				</label>
				<div class="col-xs-6 col-md-4 sub-field disabled">
					<small>Desde</small>
					<input type="text" class="timepicker form-control" id="@@fieldID-saturday-start" disabled="" name="@@fieldID-saturday-start">
				</div>
				<div class="col-xs-6 col-md-4 sub-field disabled">
					<small>Hasta</small>
					<input type="text" class="timepicker form-control" id="@@fieldID-saturday-end" disabled name="@@fieldID-saturday-end">
				</div>
			</div>
		</div>
		<div class="schedule-day extra-day col-xs-12 form-group flex-center-start">
			<div class="row">
				<label class="col-xs-12 col-md-4">
					<input type="checkbox" class="enable-schedule-day" name="@@fieldID-enable-sunday">
					Domingo
				</label>
				<div class="col-xs-6 col-md-4 sub-field disabled">
					<small>Desde</small>
					<input type="text" class="timepicker form-control" id="@@fieldID-sunday-start" disabled="" name="@@fieldID-sunday-start">
				</div>
				<div class="col-xs-6 col-md-4 sub-field disabled">
					<small>Hasta</small>
					<input type="text" class="timepicker form-control" id="@@fieldID-sunday-end" disabled name="@@fieldID-sunday-end">
				</div>
			</div>
		</div>
	</div>

	@@if (error) {
		@@include('field-error.html', {
			"errorText": "@@errorText"
		})
	}
</div>