@@if (alpha2Code == 'CO') {
	<option data-content="<img class='flag' src='assets/img/flags/@@alpha2Code.svg'> @@translations.es" value="@@translations.es" data-tokens="@@translations.es" selected>@@translations.es</option>
}
@@if (alpha2Code != 'CO') {
	<option data-content="<img class='flag' src='assets/img/flags/@@alpha2Code.svg'> @@translations.es" value="@@translations.es" data-tokens="@@translations.es">@@translations.es</option>
}