<option data-content="<img class='flag' src='assets/img/flags/@@alpha2Code.svg'> +@@callingCode<span class='only-dropdown'> - @@translations.es</span>" value="@@callingCode" data-tokens="@@translations.es">@@translations.es</option>