<div class="form-group field field-select @@class">
	<label for="@@fieldID" class="flex-center-start">
		@@label
		@@if (help) {
			<i class='icon bx bx-info-circle bx-md text-blue m-l-5' data-toggle="popover" data-placement="right" data-content="@@helpText" data-trigger="hover"></i>
		}
	</label>
	<select name="@@fieldID" id="@@fieldID" class="selectpicker form-control" data-live-search="true" data-selected-text-format="count > 4" multiple title="Seleccione una opción...">
		<optgroup label="Transferencia Bancaria">
			<option value="banco-1">Banco 1</option>
			<option value="banco-2">Banco 2</option>
			<option value="banco-3">Banco 3</option>
			<option value="banco-4">Banco 4</option>
			<option value="banco-5">Banco 5</option>
		</optgroup>
		<optgroup label="Efectivo">
			<option value="efectivo-1">Efectivo 1</option>
			<option value="efectivo-2">Efectivo 2</option>
			<option value="efectivo-3">Efectivo 3</option>
			<option value="efectivo-4">Efectivo 4</option>
			<option value="efectivo-5">Efectivo 5</option>
		</optgroup>
	</select>

	@@if (error) {
		@@include('field-error.html', {
			"errorText": "@@errorText"
		})
	}
</div>