<div class="form-group field field-select @@class">
	<label for="@@fieldID" class="flex-center-start">
		@@label
		@@if (help) {
			<i class='icon bx bx-info-circle bx-md text-blue m-l-5' data-toggle="popover" data-placement="right" data-content="@@helpText" data-trigger="hover"></i>
		}
	</label>	
	<select name="@@fieldID" id="@@fieldID" class="selectpicker form-control currency-selector" data-live-search="true" title="Seleccione una opción...">
		@@loop('./select-country-currency-option.html', './../data/countries.json')
	</select>

	@@if (error) {
		@@include('field-error.html', {
			"errorText": "@@errorText"
		})
	}
</div>