<div class="form-group field field-submit @@class text-center">
	@@if (terms) {
 		<p class="tnc">@@terms</p>
 	}
	<button type="submit" class="btn btn-lg gradient-green flex-center-center center-block">@@button <i class="m-l-30 icon @@buttonIcon-icon"></i></button>
</div>