<div class="form-group field field-textarea @@class">
	<label for="@@fieldID" class="flex-center-start">
		@@label
		@@if (help) {
			<i class='icon bx bx-info-circle bx-md text-blue m-l-5' data-toggle="popover" data-placement="right" data-content="@@helpText" data-trigger="hover"></i>
		}
	</label>
	<textarea name="@@fieldID" id="@@fieldID" cols="30" rows="5" placeholder="@@placeholder" class="form-control"></textarea>

	@@if (error) {
		@@include('field-error.html', {
			"errorText": "@@errorText"
		})
	}
</div>