body {
  background-color: color(grey-lighter);
  font-family: $font-lato;
  font-size: $body-size;
}
h1,
h2,
h3,
h4 {
  font-family: #{$font-avenir}, sans-serif;
  font-weight: 900;
}
a {
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}