.container {
  margin-bottom: 30px;
  padding-top: 20px;
  .hero & {
    margin-bottom: 0;
  }
  @media (min-width: $screen-lg-min) {
    width: 1200px;
  }
}
.section-title {
  text-align: center;
  color: color(grey-blue);
  margin-bottom: 20px;
  .title,
  .sub-title {
    margin: 0;
  }
  .title {
    @include avenir(bold);
    font-size: 22px;
    margin-bottom: 10px;
    padding: 0;
  }
  .sub-title {
    @include lato();
    font-size: 14px;
    padding: 0;
  }
}
