.field {
	margin-bottom: 15px;
	.form-control {
		height: 42px;
		border-color: #ddd;
		border-radius: 3px;
	}
	textarea.form-control {
		height: auto;
		resize: vertical;
	}
	label {
		color: color(grey-blue);
		@include avenir(bold);
		font-size: 16px;
		margin-bottom: 10px;
		.icon {
			color: color(green-2) !important;
		}
		@media (max-width: $screen-xs-max) {
			.report-form & {
				text-align: center;
				justify-content: center;
			}
		}
	}
	&.disabled {
		opacity: .5;
		pointer-events: none;
	    cursor: not-allowed;
	}
	.field-group {
		.field-addon {
			width: 120px;
			height: 40px;
			float: left;
			.dropdown {
				max-width: 100%;
				> .dropdown-menu {
					width: 150%;
				}
				.dropdown-toggle {
					border-radius: 3px 0 0 3px;
					border-color: #ddd;
					.filter-option {
						.only-dropdown {
							display: none;
						}
					}
				}
			}

		}
		> .form-control {
			float: left;
			width: calc(100% - 120px);
			border-left: none;
		}
	}
	.field-error {
		position: absolute;
		top: 100%;
		width: calc(100% - 30px);
		margin-top: -5px;
		z-index: 10;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: -5px;
			left: 15px;
			border-bottom: 5px solid color(red);
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}
	&.field-schedule {
		label {
			margin-bottom: 20px;
		}
		.schedule-days {
			.schedule-day {
				margin-bottom: 30px;
				label {
					@include avenir(normal);
					margin-bottom: 0;
				}
				.sub-field {
					position: relative;
					small {
						position: absolute;
						top: -20px;
						text-transform: uppercase;
						@include lato(600);
						color: color(grey);
					}
					&.disabled {
						small {
							opacity: .5;
						}
					}
				}
			}
		}
		@media (max-width: $screen-sm-max) {
			.schedule-days {
				.schedule-day {
					label {
						margin-bottom: 25px;
					}
				}
			}
		}
	}
	&.field-info {
		.info-content {
			background-color: color(grey-lighter);
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 3px;
			min-height: 240px;
			@extend .flex-center-center;
		}
		.info-header {
			color: color(green-2);
			.icon {
				color: color(green-2) !important;
			}
		}
		.info-body {
			color: color(grey-blue);
			@include lato();
			font-size: 14px;
		}
		@media (max-width: $screen-sm-max) {
			.info-content {
				min-height: inherit;
			}
		}
	}
	&.field-submit {
		button {
			@include avenir(bold);
			font-size: 16px;
			background: color(green-2);
			.icon {
				font-size: 1em !important;
			}
		}
	}
	&.field-file {
		.file-upload-indicator {
		    display: none !important;
		}
		.btn-file {
			background-color: color(grey-blue);
			border: none;
			@media (max-width: $screen-xs-max) {
				display: block;
				width: 100%;
			}
		}
	}
}