.filter-bar {
  position: relative;
  margin-top: -50px;
  .bar-action {
    padding-left: 15px;
    padding-right: 15px;
    color: color(grey-blue);
    label {
      @include avenir(bold);
      font-size: 16px;
      color: color(grey-blue);
    }
    &.select {
      @extend .flex;
      @extend .flex-row;
      @extend .flex-wrap;
      @extend .flex-center-center;
      label {
        margin: 0 5px 0;
      }
      @media (max-width: $screen-xs-max) {
        .dropdown {
          width: 100%;
        }
      }
    }
    &.legend {
      @extend .flex;
      @extend .flex-row;
      @extend .flex-wrap;
      @extend .flex-center-center;
      .legend-item {
        @extend .flex;
        @extend .flex-row;
        @extend .flex-wrap;
        @extend .flex-center-center;
        margin-right: 10px;
        color: color(grey-blue);
        &:hover,
        &:focus,
        &:active {
          color: color(black);
        }
        &:last-child {
          margin-right: 0;
        }
        .icon {
          margin-right: 5px;
        }
        .text {
          @include lato(400);
          font-size: 14px;
        }
      }
    }
    &.add-exchanger {
      .btn {
        @include avenir(bold);
        font-size: 14px;
        padding: 10px 15px;
        background: color(green-2);
        .icon {
          margin-right: 10px;
        }
      }
    }
    &.has-separator {
      border-right: 1px solid color(grey-light);
      &:last-child {
        border-right: none;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-bottom: 20px;
      label,
      .dropdown {
        width: 100%;
      }
      label {
        margin-bottom: 10px;
      }
      .dropdown {
        .dropdown-toggle {
          width: 100%;
          display: inline-block;
          text-align: left;
          position: relative;
          .caret {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
          }
        }
        .dropdown-menu {
          width: 100%;
        }
      }
      &.select {
        label {
          margin-bottom: 10px;
        }
      }
      &.legend {
        justify-content: flex-start;
        .legend-item {
          margin-bottom: 10px;
        }
      }
      &.add-exchanger {
        .btn {
          font-size: 16px;
        }
      }
      &.has-separator {
        border-right: none;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      &.select {
        flex-direction: column;
      }
    }
  }
}
