.footer {
	background-color: color(white);
	padding-top: 30px;
	padding-bottom: 30px;
	.logo {
		max-width: 150px;
		margin-bottom: 30px;
	}
	.copyright {
		color: color(grey-blue);
		@include lato();
		font-size: 14px;
	}
	@media (max-width: $screen-xs-max) {
		padding-bottom: 80px;
	}
} 