.hero {
  background: color(grey-light);
  background-image: linear-gradient(to top, color(grey-light) 0%, color(white) 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  color: color(white);
  .waves {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
    z-index: 0;
  }
  .content {
    margin-bottom: 0;
  }
  .logo {
    margin-bottom: 40px;
    img {
      max-width: 270px;
      @include center-block();
    }
  }
  .hero-text {
    color: color(grey-blue);
    h1,
    h2,
    h3,
    h4 {
      font-weight: 400;
    }
    .report-exchanger {
      display: block;
      @include avenir(bold);
      font-size: .9em;
    }
  }
  .hero-actions {
    color: color(white);
    margin-top: 20px;
    margin-bottom: 40px;
    .btn {
      @include avenir(bold);
      font-size: 16px;
      @extend .btn-default;
      color: color(grey-blue) !important;
      background-color: color(white) !important;
      border: none !important;
      border-radius: 3px;
      box-shadow: $shadow-1;
      transition: .3s ease-in-out;
      .icon {
        margin-right: 5px;
      }
      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
        outline: none;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    padding-top: 50px;
    padding-bottom: 50px;
    .logo {
      margin-bottom: 30px;
    }
  }
}
