.listing {
    .listing-table {
        padding-top: 0;
        padding-bottom: 0;
        .row {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .listing-header {
            background-color: color(grey-light);
            border-radius: 3px 3px 0 0;
            .listing-header-text {
                @include avenir(bold);
                font-size: 14px;
                color: color(grey-blue);
                &.first {
                    padding-left: 25px;
                }
            }
        }
        .listing-body {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.listing-item {
    border-bottom: 1px solid rgba(color(grey-light), .5);
    position: relative;
    &:last-child {
        border-bottom: none;
    }
    .mobile-title {
        @include avenir(bold);
        font-size: 16px;
        text-align: center;
    }
    .exchanger {
        .status {
            width: 10px;
            margin-top: 0px;
            margin-right: 10px;
        }
        .data {
            width: calc(100% - 20px);
            .name {
                padding: 0;
                margin: 0;
                font-size: 16px;
                color: color(grey-blue);
                @include avenir(bold);
            }
            .exchange-text {
                @include lato();
                font-size: 14px;
                color: color(grey-blue);
            }
            .badges {
                text-align: left;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .expand-listing {
            background: none;
            border: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            color: color(grey-blue);
            .icon {
                transition: .3s ease-in-out;
            }
            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
                outline: none;
            }
            &.active {
                box-shadow: none;
                outline: none;
                .icon {
                    transform: rotate(45deg);
                }
            }
        }
        @media (max-width: $screen-sm-max) {
            text-align: left;
            .data {
                width: calc(50% - 20px);
            }
            .bs-value {
                width: calc(50% - 10px);
                float: left;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                span {
                    display: block;
                }
                .mobile-title {
                    color: color(grey);
                    font-size: 12px;
                }
            }
        }
    }
    .qtys {
        .qty {
          @include avenir(bold);
          font-size: 14px;
          color: color(grey-blue);
          @extend .flex-center-center;
          small {
            font-size: .8em;
            margin-left: 2px;
          }
        }
        .qty-sp {
            margin: 0 5px;
        }
        small {
            @include lato(700);
            font-size: 12;
            color: color(grey);
        }
    }
    .pay-methods {
        .methods {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 5px;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                &.commission-info {
                    display: block;
                    font-size: 14px;
                    color: color(grey-blue);    
                    strong {
                        @include avenir(bold);
                    }
                }
            }
        }
    }
    .bs-value {
        .text {
            color: color(grey-blue);
            @include avenir(bold);
            font-size: 14px;
        }
    }
    .options {
        .exchanger-link {
            @include avenir(bold);
            font-size: 16px;
            color: color(grey-blue);
            margin-right: 10px;
            .icon {
                margin-right: 10px;
            }
        }
        .exchanger-report {
            color: color(grey-blue);
            padding: 6px 0;
            &:hover,
            &:focus, 
            &:active {
                color: color(grey);
            }
        }
        @media (max-width: $screen-sm-max) {
            margin-top: 20px;
            justify-content: center;
            .exchanger-link {
                font-size: 18px;
            }
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            .exchanger-link {
                padding: 5px;
                font-size: 14px;
            }
            .exchanger-report {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        display: block;
        .list-item-data {
            display: flex;
        }
        .exchanger {
            order: 1;
        }
        .qtys {
            order: 4;
        }
        .pay-methods {
            order: 2;
            margin-bottom: 20px;
        }
        .receive-methods {
            order: 3;
            margin-bottom: 20px;
        }
        .bs-value {
            order: 5;
        }
        .options {
            order: 2;
        }
        .list-item-data {
            display: none;
            height: 0;
            order: 3;
            transition: .3s ease-in-out;
            &.active {
                display: block;
                height: auto;
            }
        }
    }
    @media (min-width: $screen-md-min) {
        .list-item-data {
            > .row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;
                justify-content: center;
            }
        }
    }
}