.new-form {
	margin-top: -80px;
	max-width: 970px;
	.box {
		padding: 30px;
	}
	.form {
		border-top: 1px solid color(grey-light);
		padding-top: 15px;
		.field-submit {
			border-top: 1px solid color(grey-light);
			padding-top: 15px;
		}
	}
}