.notification {
	position: fixed;
	bottom: 20px;
	right: 20px;
	box-shadow: 0 0 30px rgba(black, .3);
	max-width: 300px;
	@include avenir(normal);
	font-size: 16px;
	margin: 0;
	z-index: 1000;
	@media (max-width: $screen-xs-max) {
		width: 100%;
		max-width: 100%;
		bottom: 0;
		right: 0;
		border-radius: 0;
	}
}
.message {
	&.django {
		@extend .container;
		margin: 0 auto;
		.alert {
			@extend .text-avenir-bold;
			@extend .text-center;
			position: relative;
			margin-bottom: 0;
			z-index: 2;
		}
	}
}