<section class="filter-bar container">
    <div class="box col-xs-12 flex-center-center">
        <!-- Country Selector -->
        <div class="bar-action select has-separator">
            <label>Selecciona un país:</label>
            <select name="country-filter" id="country-filter" class="selectpicker" data-live-search="true" title="Seleccione una opción...">
                @@loop('./fields/select-country-filter-option.html', './../data/countries.json')
            </select>
        </div>
        <!-- End Country Selector -->
        <!-- Legend -->
        <div class="bar-action legend has-separator">
            <a href="#" class="legend-item">
                <i class="icon online-icon online"></i>
                <span class="text">Atendiendo ahora</span>
            </a>
            <a href="#" class="legend-item">
                <i class="icon verify-icon"></i>
                <span class="text">Verificado</span>
            </a>
            <a href="#" class="legend-item">
                <i class="icon time-icon"></i>
                <span class="text">En menos de 3 hrs</span>
            </a>
        </div>
        <!-- End Legend -->
        <!-- Add exchanger-->
        <div class="bar-action add-exchanger">
            <a href="new.html" class="btn gradient-green text-white flex-center-center">
                <i class="icon plus-icon"></i>
                Añadir Cambista
            </a>
        </div>
        <!-- End Add exchanger -->
    </div>
</section>