<footer class="footer container-fluid">
	<div class="container">
		<div class="row text-center">
			<img src="assets/img/tasa-bolivar-logo.svg" alt="@@title" class="logo">
			<p class="copyright">&copy; 2018 Tasa Bolivar</p>
		</div>
	</div>
</footer>
@@include('notifications.html')