<section class="hero container-fluid">
    <div class="row">
        <div class="content container">
            <div class="row">
                <div class="logo col-xs-12">
                    <img src="assets/img/tasa-bolivar-logo.svg" alt="@@title">
                </div>
                <div class="hero-text col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                    <h2>@@title</h2>
                </div>
                @@if (back) {
                    <div class="hero-actions col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                        <a href="index.html" class="btn btn-back">
                            <span class="flex-center-center">
                                <i class="icon bx bx-arrow-back bx-md"></i> Cancelar
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <img src="assets/img/hero-waves.svg" class="waves">
</section>