<section class="container listing">
    <div class="row">
        <div class="section-title col-xs-12">
            <h2 class="title">@@sectionTitle</h2>
            <h3 class="sub-title">@@sectionSubTitle</h3>
        </div>
    </div>
    <div class="listing-table col-xs-12 box">
        <div class="row listing-header hidden-xs hidden-sm">
            <div class="col-xs-12 col-md-2">
                <span class="listing-header-text first">Cambista</span>
            </div>
            <div class="col-xs-12 col-md-3 text-center">
                <span class="listing-header-text">Cantidad</span>
            </div>
            <div class="col-xs-12 col-md-2 text-center">
                <span class="listing-header-text">Paga con</span>
            </div>
            <div class="col-xs-12 col-md-1 text-center">
                <span class="listing-header-text">Recibe en</span>
            </div>
            <div class="col-xs-12 col-md-2 text-center">
                <span class="listing-header-text">Bs por peso</span>
            </div>
            <div class="col-xs-12 col-md-2">
            </div>
        </div>
        <div class="row listing-body">
            @@loop('listing-item.html', [
                {
                    "slug": "hadassah-fisssscher-1",
                    "exchanger": "Hadassah Fischer",
                    "status": "offline",
                    "exchangeText": "0+ cambios",
                    "badges": false,
                    "minQty": "567.00 <small>TZS</small>",
                    "maxQty": "982.00 <small>TZS</small>",
                    "commission": "91.00 <small>TZS</small>",
                    "paymentMethods": [
                        {
                            "icon": "cash",
                            "label": "Efectivo"
                        }
                    ],
                    "receiveMethods": [
                        {
                            "icon": "bank-transfer",
                            "label": "Transferencia bancaria"
                        }
                    ],
                    "bsValue": "35.00 <small>TZS</small>",
                    "contactMethod": "link-external"
                },
                {
                    "slug": "nasim-vega",
                    "exchanger": "Nasim Vega",
                    "status": "offline",
                    "exchangeText": "4+ cambios",
                    "badges": false,
                    "minQty": "10,000,000.00 <small>COP</small>",
                    "maxQty": "10,000,000.00 <small>COP</small>",
                    "commission": "10,000,000.00 <small>COP</small>",
                    "paymentMethods": [
                        {
                            "icon": "bank-transfer",
                            "label": "Transferencia bancaria"
                        },
                        {
                            "icon": "cash",
                            "label": "Efectivo"
                        }
                    ],
                    "receiveMethods": [
                        {
                            "icon": "cash",
                            "label": "Efectivo"
                        }
                    ],
                    "bsValue": "10,000,000.00 <small>COP</small>",
                    "contactMethod": "link-external"
                }
            ])
        </div>
    </div>
</section>