<div class="listing-item col-xs-12">
    <div class="row">
        <div class="col-xs-12 col-md-2 exchanger flex-start-center">
            <div class="status">
                <i class="icon icon-sm online-icon @@status"></i>
            </div>
            <div class="data">
                <h3 class="name">@@exchanger</h3>
                <span class="exchange-text">@@exchangeText</span>
                <ul class="badges">
                    @@for (var i = 0; i
                    < badges.length; i++) { <li>
                        <i class="icon `+badges[i]+`-icon icon-sm"></i>
                        </li>
                        }
                </ul>
            </div>
            <div class="visible-xs visible-sm bs-value">
                <span class="mobile-title">Bs por peso</span>
                <span class="text">@@bsValue</span>
            </div>
            <button class="btn expand-listing visible-xs visible-sm">
                <i class="icon plus-icon"></i>
            </button>
        </div>
        <div class="col-xs-12 col-md-10 list-item-data">
            <div class="row">
                <div class="col-xs-12 col-md-3-10 qtys flex-start-center text-center">
                    <div class="visible-xs visible-sm col-xs-12 text-center m-b-5">
                        <span class="mobile-title">Cantidad</span>
                    </div>
                    <div class="qty-min">
                        <div class="qty">@@minQty</div>
                        <small>MIN</small>
                    </div>
                    <div class="qty-sp hidden-md">-</div>
                    <div class="qty-max">
                        <div class="qty">@@maxQty</div>
                        <small>MAX</small>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2-10 pay-methods">
                    <div class="visible-xs visible-sm col-xs-12 text-center m-b-5">
                        <span class="mobile-title">Paga en</span>
                    </div>
                    <ul class="methods">
                        @@for (var i = 0; i < paymentMethods.length; i++) {
                            <li>
                                <a href="#" data-placement="bottom" data-popover-content="#popover-`+slug+`-`+paymentMethods[i].icon+`" data-toggle="custom-popover" data-trigger="hover" tabindex="0" title="`+paymentMethods[i].label+`">
                                    <img src="assets/img/icons/`+paymentMethods[i].icon+`-icon.svg">
                                </a>
                            </li>
                        }
                        @@if (commission) { 
                            <li class="commission-info">
                                Comisión: <strong>@@commission</strong>
                            </li>
                        }
                    </ul>
                    <div id="popover-@@slug-bank-transfer" class="hidden popover">
                        <div class="popover-header">
                            <h3>Paga en los siguientes bancos</h3>
                        </div>
                        <div class="popover-body">
                            <ul class="pay-options">
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Banco+de+Occidente" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=BBVA" alt="">
                                </li>
                            </ul>
                        </div>
                        @@if (commission) {
                            <div class="popover-footer">
                                <p>Comision de pago: @@commission</p>
                            </div>
                        }
                    </div>
                    <div id="popover-@@slug-cash" class="hidden popover">
                        <div class="popover-header">
                            <h3>Paga en efectivo en</h3>
                        </div>
                        <div class="popover-body">
                            <ul class="pay-options">
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Servi" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Gana" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="popover-footer">
                            <p>Comision de pago: $0</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-1-10 receive-methods pay-methods">
                    <div class="visible-xs visible-sm col-xs-12 text-center m-b-5">
                        <span class="mobile-title">Recibe en</span>
                    </div>
                    <ul class="methods">
                        @@for (var i = 0; i < receiveMethods.length; i++) {
                            <li>
                                <a href="#" data-placement="bottom" data-popover-content="#popover-`+slug+`-receive-`+receiveMethods[i].icon+`" data-toggle="custom-popover" data-trigger="hover" tabindex="0" title="`+receiveMethods[i].label+`">
                                    <img src="assets/img/icons/`+receiveMethods[i].icon+`-icon.svg">
                                </a>
                            </li>
                        }
                    </ul>
                    <div id="popover-@@slug-receive-bank-transfer" class="hidden popover">
                        <div class="popover-header">
                            <h3>Recibe en los siguientes bancos</h3>
                        </div>
                        <div class="popover-body">
                            <ul class="pay-options">
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Banco+de+Occidente" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=BBVA" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="popover-@@slug-receive-cash" class="hidden popover">
                        <div class="popover-header">
                            <h3>Recibe en efectivo en</h3>
                        </div>
                        <div class="popover-body">
                            <ul class="pay-options">
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Servi" alt="">
                                </li>
                                <li>
                                    <img src="https://dummyimage.com/100x40/999999/fff.jpg&text=Gana" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2-10 hidden-xs hidden-sm bs-value flex-start-center text-center">
                    <div class="visible-xs visible-sm col-xs-12 text-center m-b-5">
                        <span class="mobile-title">Bs por peso</span>
                    </div>
                    <span class="text">@@bsValue</span>
                </div>
                <div class="col-xs-12 col-md-2-10 options flex-center-end">
                    <a href="#" class="btn btn-default exchanger-link text-center flex-center-center">
                        <i class="icon @@contactMethod-icon"></i> Contactar
                    </a>
                    <a href="report.html" class="btn exchanger-report" data-toggle="tooltip" data-placement="bottom" title="Reportar">
                        <i class="icon warning-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>