<section class="container new-form">
	<div class="col-xs-12 box">
		<!-- Alert error -->
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
			<strong>¡Error!</strong> Ha ocurrido un error al enviar el formulario
		</div>

		<!-- Alert success -->
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
			<strong>¡Éxito!</strong> Se ha enviado el formulario exitosamente
		</div>
		<form action="" class="row">
			@@include('fields/input-text.html', {
				"class": "col-xs-12 col-sm-6",
				"label": "Nombre de su negocio",
				"fieldID": "business-name",
				"help": false,
				"error": false
			})
			@@include('fields/input-phone.html', {
				"class": "col-xs-12 col-sm-6",
				"label": "Número de WhatsApp de su negocio",
				"fieldID": "business-whatsapp",
				"help": false,
				"error": false
			})
			@@include('fields/select-country.html', {
				"class": "col-xs-12 col-sm-6",
				"label": "País",
				"fieldID": "country",
				"help": false,
				"error": false
			})
			@@include('fields/select-currency.html', {
				"class": "col-xs-12 col-sm-6",
				"label": "Moneda",
				"fieldID": "currency",
				"help": false,
				"error": true,
				"errorText": "El campo <strong class='text-avenir-bold'>Moneda</strong> es obligatorio"
			})
			@@include('fields/input-text.html', {
				"class": "col-xs-12 col-sm-6 disabled",
				"label": "Tasa de cambio",
				"fieldID": "exchange-rate",
				"help": true,
				"helpText": "El valor ingresado debe coincidir con la moneda seleccionada",
				"error": false
			})
			@@include('fields/input-text.html', {
				"class": "col-xs-12 col-sm-6 disabled",
				"label": "Comisión",
				"fieldID": "exchange-commission",
				"help": true,
				"helpText": "El valor ingresado debe coincidir con la moneda seleccionada",
				"error": false
			})
			@@include('fields/input-text.html', {
				"class": "col-xs-12 col-sm-6 disabled",
				"label": "Monto mínimo",
				"fieldID": "min-qty",
				"help": true,
				"helpText": "El valor ingresado debe coincidir con la moneda seleccionada",
				"error": false
			})
			@@include('fields/input-text.html', {
				"class": "col-xs-12 col-sm-6 disabled",
				"label": "Monto máxmo",
				"fieldID": "max-qty",
				"help": true,
				"helpText": "El valor ingresado debe coincidir con la moneda seleccionada",
				"error": false
			})
			@@include('fields/select-multiple.html', {
				"class": "col-xs-12 col-sm-6",
				"label": "Métodos de recaudo",
				"fieldID": "payment-methods",
				"help": false,
				"error": false
			})
			@@include('fields/select-multiple.html', {
				"class": "col-xs-12 col-sm-6",
				"label": "Métodos de pago",
				"fieldID": "receive-methods",
				"help": false,
				"error": false
			})
			@@include('fields/schedule.html', {
				"class": "col-xs-12 col-md-7",
				"label": "Horarios de atención",
				"fieldID": "attention-schedule",
				"help": false,
				"error": false
			})
			@@include('fields/info.html', {
				"class": "col-xs-12 col-md-5",
				"label": "Información importante",
				"text": "<p>Esta oferta quedará en estado <strong>PENDIENTE DE VERIFICACIÓN</strong> hsta que nuestro equipo pueda verificar la veracidad de la información suministrada.</p>"
			})
			@@include('fields/submit.html', {
				"class": "col-xs-12",
				"terms": "Al enviar aceptas los <a href='#' class='text-grey-blue text-avenir-bold'>términos y condiciones</a>",
				"button": "Enviar",
				"buttonIcon": "send"
			})
		</form>
	</div>
</section>