<div class="notification alert alert-success alert-dismissible bg-whatsapp borderless text-white" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div class="flex-start-center">
		<i class="icon bx bxl-whatsapp bx-lg w-10 m-r-10"></i>
		<a href="#" class="text-white w-80">Recibe la mejor tasa diaria por WhatsApp</a>
	</div>
</div>