<section class="container new-form report-form">
	<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 box">
		<div class="form-info text-center">
			<p>Tasa diferente, comisiones ocultas, estafas, demoras en depositos o cualquier otro inconveniente reportalo y nuestro equipo lo investigará.</p>
		</div>
		<form action="" class="row form">
			@@include('fields/textarea.html', {
				"class": "col-xs-12",
				"label": "Detalles del incidente",
				"placeholder": "Describe exactamente lo ocurrido, incluye cualquier detalle que consideres importante...",
				"fieldID": "report-details",
				"help": false,
				"error": false
			})
			@@include('fields/file.html', {
				"class": "col-xs-12",
				"label": "Adjunta un archivo evidenciando la situación reportada",
				"fieldID": "report-attachment",
				"help": false,
				"error": false 
			})
			@@include('fields/submit.html', {
				"class": "col-xs-12",
				"terms": "En caso de ser verídico podríamos proceder a eliminar al usuario",
				"button": "Enviar reporte",
				"buttonIcon": "send"
			})
		</form>
	</div>
</section>