.box {
    background-color: color(white);
    box-shadow: $shadow-1;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center-center {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    .row {
        width: 100%;
    }
}

.flex-start-center {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    .row {
        width: 100%;
    }
}

.flex-start-start {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    .row {
        width: 100%;
    }
}

.flex-end-center {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    .row {
        width: 100%;
    }
}

.flex-end-end {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    .row {
        width: 100%;
    }
}

.flex-center-end {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    .row {
        width: 100%;
    }
}

.flex-center-start {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    .row {
        width: 100%;
    }
}

.dropdown {
    .dropdown-toggle {
        border-color: color(grey-light);
        background-color: color(white);
        color: color(grey-blue);
        padding: 10px;
    }
    .flag {
        width: 30px;
        margin-right: 10px;
    }
    .button-text {
        display: inline-block;
        margin-right: 10px;
        @include lato();
        font-size: 14px;
        color: color(gray-blue);
    }
    .dropdown-menu {
        box-shadow: $shadow-1;
        background-color: color(white);
        border: none;
        li {
            a {
                padding: 10px;
            }
        }
    }
    .dropdown-header {
        @include avenir(bold);
        font-size: 16px;
        color: color(grey-blue);
    }
    &.open {
        .dropdown-toggle {
            border-color: color(grey-light);
            background-color: color(grey-light);
            color: color(grey-blue);
        }
    }
}
.tooltip {
    .tooltip-inner {
        background-color: color(grey-blue);
        box-shadow: $shadow-1;
    }
    &.bottom {
        .tooltip-arrow {
            border-bottom-color: color(grey-blue);
        }
    }
    &.top {
        .tooltip-arrow {
            border-top-color: color(grey-blue);
        }
    }
    &.left {
        .tooltip-arrow {
            border-left-color: color(grey-blue);
        }
    }
    &.right {
        .tooltip-arrow {
            border-right-color: color(grey-blue);
        }
    }
}
.popover {
    box-shadow: $shadow-1;
    max-width: 300px;
    width: 300px;
    .popover-title {
        display: none;
    }
    .popover-content {
        .popover-header {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 10px;
            h3 {
                @include avenir(bold);
                font-size: 16px;
                padding: 0;
                margin: 0;
                color: color(grey-blue);
            }
        }
        .popover-body {
            margin-bottom: 20px;
            .pay-options {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 10px;
                }
            }
        }
        .popover-footer {
            @include lato();
            font-size: 14px;
            text-align: center;
        }
    }
}
//Icons
.online-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: color(grey);
    display: inline-block;
    &.online {
        background-color: color(green);
    }
    &.icon-sm {
        width: 10px;
        height: 10px;
    }
}

.verify-icon {
    color: color(blue);
}

.time-icon {
    color: darken(color(grey), 5%);
}

.alert-danger {
    border-color: $brand-danger;
}

//Gradients
.gradient-green {
    background-image: $grad-green;
    color: color(white);
    &:hover {
        background-image: $grad-green;
        color: color(white);
    }
}

.borderless {
    border: none;
}

a.text-white {
    &:hover,
    &:focus,
    &:active {
        color: color(white);
        opacity: .8;
    }
}

.text-avenir {
    @include avenir(normal);
}
.text-avenir-bold {
    @include avenir(bold);
}
@include custom-class-colors(text);
@include bg-brand-colors();
@include displays();

@for $i from 0 through 100 {
    $width-pct: $i * 1%;
    $width-px: $i * 1px;
    .w-#{$i} {
        width: $width-pct;
    }
    .m-#{$i} {
        margin: $width-px;
    }
    .m-t-#{$i} {
        margin-top: $width-px;
    }
    .m-r-#{$i} {
        margin-right: $width-px;
    }
    .m-b-#{$i} {
        margin-bottom: $width-px;
    }
    .m-l-#{$i} {
        margin-left: $width-px;
    }
}
@media (min-width: $screen-md-min) {
    $md15w: (100 / 5) * 1%;
    .col-md-1-5 {
        width: $md15w;
    }

    @for $i from 1 to 10 {
        .col-md-#{$i}-10 {
            width: ($i*10) * 1%;
        }
    }
}